node_modules/
dist/
build/
.env
.env.local
*.log
.DS_Store
.idea/
.vscode/
coverage/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
pubspec.lock
*.iml
android/.gradle/
android/local.properties
android/key.properties
android/app/upload-keystore.jks
*.jks
*.keystore
ios/Pods/
backend/prisma/migrations/
